<a href="https://colab.research.google.com/github/Rishit605/Resume-Analysis-NLP/blob/main/NLP_Resume_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install keras_preprocessing

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras_preprocessing
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/dist-packages (from keras_preprocessing) (1.16.0)
Requirement already satisfied: numpy>=1.9.1 in /usr/local/lib/python3.9/dist-packages (from keras_preprocessing) (1.22.4)
Installing collected packages: keras_preprocessing
Successfully installed keras_preprocessing-1.1.2

In [2]:
import os
import pathlib
import zipfile
import requests
from pathlib import Path

import pandas as pd
import numpy as np

import nltk
from nltk.corpus import stopwords
from sklearn.preprocessing import LabelEncoder

import tensorflow as tf
from tensorflow import keras
from keras import layers
from keras.models import Sequential
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences

In [3]:
! mkdir dataset

In [4]:
cd dataset

/content/dataset

In [5]:
# Fetch a single <1MB file using the raw GitHub URL.
!curl --remote-name \
     -H 'Accept: application/vnd.github.v3.raw' \
     --location https://raw.githubusercontent.com/manishshettym/ResumeRise/master/Data/resume_dataset.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 8594k  100 8594k    0     0  13.2M      0 --:--:-- --:--:-- --:--:-- 13.2M

In [6]:
df= pd.read_csv('/content/dataset/resume_dataset.csv')
df

        ID  Category                                             Resume
0        1        HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1        2        HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...
2        3        HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3        4        HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4        5        HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...
...    ...       ...                                                ...
1214  1215  Aviation  b"Free Flight Attendant Resume\nDarlene Flint\...
1215  1216  Aviation  b'Corporate Flight Attendant Resume\nCAITLIN F...
1216  1217  Aviation  b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,...
1217  1218  Aviation  b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...
1218  1219  Aviation  b'Entry Level Resume Guide\n\nThis packet is i...

[1219 rows x 3 columns]

In [7]:
df["Resume"][0]

"b'John H. Smith, P.H.R.\\n800-991-5187 | PO Box 1673 | Callahan, FL 32011 | info@greatresumesfast.com\\n\\nApproachable innovator with a passion for Human Resources.\\n\\nSENIOR HUMAN RESOURCES PROFESSIONAL\\nPersonable, analytical, flexible Senior HR Professional with multifaceted expertise. Seasoned Benefits Administrator with\\nextensive experience working with highly paid professionals in client-relationship-based settings. Dynamic team leader\\ncapable of analyzing alternatives and identifying tough choices while communicating the total value of benefit and\\ncompensation packages to senior level executives and employees.\\n\\nCORE COMPETENCIES\\nBenefits Administration \\xe2\\x80\\x93 Customer Service \\xe2\\x80\\x93 Cost Control \\xe2\\x80\\x93 Recruiting \\xe2\\x80\\x93 Acquisition Management \\xe2\\x80\\x93 Compliance Reporting\\nRetention \\xe2\\x80\\x93 Professional Services \\xe2\\x80\\x93 Domestic & International Benefits \\xe2\\x80\\x93 Collaboration \\xe2\\x80\\x93 Adaptability \\xe2\\x80\\x93 Change Management\\nDefined Contribution Plans \\xe2\\x80\\x93 Auditing \\xe2\\x80\\x93 Negotiation \\xe2\\x80\\x93 Corporate HR Policies \\xe2\\x80\\x93 Full Lifecycle Training \\xe2\\x80\\x93 401(k) \\xe2\\x80\\x93 Form 5500\\nConfidential Files \\xe2\\x80\\x93 EEO-1 \\xe2\\x80\\x93 AAP \\xe2\\x80\\x93 FMLA \\xe2\\x80\\x93 STD \\xe2\\x80\\x93 LTD \\xe2\\x80\\x93 H1-B Visa \\xe2\\x80\\x93 Vets 100 \\xe2\\x80\\x93 EAP \\xe2\\x80\\x93 Processing Payroll\\n\\nHR TECHNOLOGY\\n\\nHRIS Data Management & Auditing \\xe2\\x80\\x93 Ultipro Back Office \\xe2\\x80\\x93 Ultipro Web Connect\\nDeltek Costpoint \\xe2\\x80\\x93 Deltek GCS Premiere \\xe2\\x80\\x93 Cognos \\xe2\\x80\\x93 ADP\\n\\nProfessional Experience\\nHUMAN SERVICES, INC. \\xe2\\x80\\x93 Tampa, FL\\n\\n2010\\xe2\\x80\\x93Present\\n\\nProviding institutional behavioral health and medical management contracting services | 2,500 employees\\n\\nBenefits Manager\\nManage and administer a robust $13M health and welfare program; administer benefits programs for two smaller\\nminority business enterprise clients. Deliver excellence in client services, leveraging interpersonal skills to establish\\nrapport with team members. Perform cost analysis, gather claims data, coordinate enrollment and more for a large selffunded medical plan plus two smaller fully-insured plans. Analyze data and projections to create forecasts in narrative\\nand graph format; clearly and succinctly communicate trends to senior management in meetings. Directly supervise\\nstaff of 3: HR Admin, plus two Human Resource specialists.\\n\\xef\\x81\\xb3 Lead Healthcare Reform change management process, analyzing changes, developing strategic plans, and\\n\\ntimeline for crucial decisions ahead of 2014 deadlines. Communicate early changes in dependent coverage,\\npreventive care, and lifetime maximum benefits to employees.\\n\\n\\xef\\x81\\xb3 Identified, researched, and implemented HSA (Healthcare Savings Account) health insurance option for high-\\n\\ndeductible health insurance plan to provide tax-sheltered benefits for physicians and other high-income, highprofile professionals.\\n\\n\\xef\\x81\\xb3 Saved $30K annually by restructuring the open enrollment strategy, leveraging existing human capital and HR\\n\\nbusiness partners to achieve better communication at lower cost.\\n\\n\\xef\\x81\\xb3 Quickly establish rapport with employees; balance client-relationship needs with organizational goals, cost\\n\\ncontrols, and compliance requirements to create a positive work environment.\\n\\n\\xef\\x81\\xb3 Maximize employee recruiting and retention by implementing competitive benefits packages and clearly\\n\\ncommunicating their value to team members.\\n\\n\\xef\\x81\\xb3 Reduced costs $20K per year by collaborating closely with legal department to create an in-house total comp\\n\\nstatement including implications for taxes and social security; produced a better-quality analysis at lower costs.\\n\\n\\x0cJohn H. Smith, P.H.R. \\xe2\\x80\\x93 PAGE 2\\n\\n800-991-5187|info@greatresumesfast.com\\n\\nApproachable innovator with a passion for Human Resources.\\nHUMAN MANAGEMENT INC. \\xe2\\x80\\x93 Atlanta, GA\\n\\n2008\\xe2\\x80\\x932010\\n\\nNonprofit government consulting firm | 1,200 domestic and international employees\\n\\nSenior Human Resources Generalist\\nPerformed diverse Human Resources functions: administered benefits, led special projects, updated policies,\\ncollaborated on EEO-1, Vets 100, and Affirmative Action Plan (AAP) reporting. Revamped orientation and training\\nprograms for newly hired employees to include comprehensive information delivered in more-personal formats:\\nteleconferences, small group meetings, tours, and one-on-one conversations, with follow-up phone calls. Supervised HR\\nAssistant and up to 3 temporary Human Resource specialists handling high volume of work during peak periods such as\\nopen enrollment and company merger.\\n\\xef\\x81\\xb3 Led change management process that seamlessly integrated benefits, compensation, retirement plans, and\\n\\nlogistics for newly acquired company with 60+ employees; prepared all-encompassing reports on total\\ncompensation plans.\\n\\n\\xef\\x81\\xb3 Developed webinars and personal meetings to communicate value of benefits to employees despite reductions\\n\\nduring an economic recession; maintained employee retention and job satisfaction rankings despite cutbacks.\\n\\n\\xef\\x81\\xb3 Reduced overall benefit costs 10% including a decrease in STD benefits from 100% to 75% of base\\n\\ncompensation without significant increase in employee turnover.\\n\\n\\xef\\x81\\xb3 Researched and procured benefits for government contractors traveling to hazardous areas including Kidnap &\\n\\nRansom (K&R), increased life insurance, and travel insurance.\\n\\n\\xef\\x81\\xb3 Identified and implemented medical and dental benefit plans to ensure comparable compensation for\\n\\ninternational employees worldwide.\\n\\n\\xef\\x81\\xb3 Managed diverse retirement plans including defined contribution 403(b), 401(a), and executive 457(b) plans.\\n\\nABC CORPORATION \\xe2\\x80\\x93 New York, NY\\n\\n2007\\xe2\\x80\\x932008\\n\\nEngineering and Construction consulting | 500 international and domestic employees\\nSenior Human Resources Generalist\\nACME, INC. \\xe2\\x80\\x93 Washington, D.C.\\n\\n2004\\xe2\\x80\\x932006\\n\\nProfessional services consulting firm | 300 employees\\nHR Generalist / Benefits Specialist\\n\\nHUMAN RESOURCE CORPORATION \\xe2\\x80\\x93 Tampa, FL\\nIT & environmental management consulting firm | 300 employees\\nHuman Resources Assistant\\n\\nEducation, Certification, & Affiliation\\nBachelor of Science in Psychology, 2002\\nCOMMUNITY COLLEGE\\nProfessional in Human Resources (PHR) Certificate, 2010\\nEmployee Benefit Specialist (CEBS), Certification Pending\\nMember SHRM \\xe2\\x80\\x93 Society for Human Resource Management\\n\\n2002\\xe2\\x80\\x932004'"

In [8]:
df2 = df.copy(deep=True)
df2

        ID  Category                                             Resume
0        1        HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1        2        HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...
2        3        HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3        4        HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4        5        HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...
...    ...       ...                                                ...
1214  1215  Aviation  b"Free Flight Attendant Resume\nDarlene Flint\...
1215  1216  Aviation  b'Corporate Flight Attendant Resume\nCAITLIN F...
1216  1217  Aviation  b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,...
1217  1218  Aviation  b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...
1218  1219  Aviation  b'Entry Level Resume Guide\n\nThis packet is i...

[1219 rows x 3 columns]

In [9]:
classes = list(df['Category'].unique())
print(classes, len(classes))

['HR', 'Designing', 'Managment', 'Information Technology', 'Education', 'Advocate', 'Business Development', 'Health & Fitness', 'Agricultural', 'BPO', 'Sales', 'Consultant', 'Digital Media', 'Automobile', 'Food & Beverages', 'Finance', 'Apparel', 'Engineering', 'Accountant', 'Building & Construction', 'Architects', 'Public Relations', 'Banking', 'Arts', 'Aviation'] 25

In [10]:
classes = list(df['Category'].unique())
print(classes, len(classes))

class_idx = {key: value for value, key in enumerate(classes)}
print(classes)

['HR', 'Designing', 'Managment', 'Information Technology', 'Education', 'Advocate', 'Business Development', 'Health & Fitness', 'Agricultural', 'BPO', 'Sales', 'Consultant', 'Digital Media', 'Automobile', 'Food & Beverages', 'Finance', 'Apparel', 'Engineering', 'Accountant', 'Building & Construction', 'Architects', 'Public Relations', 'Banking', 'Arts', 'Aviation']

# Data Cleaning

In [11]:
import string
def rem_punc(s):
    punc = string.punctuation
    return [i for i in s if i not in punc]

def rem_sw(s):
    sw = set(stopwords)
    return [i for i in s if i not in sw]

In [12]:
import re

# def normalize(data):
#     normalized = []
#     for i in data:
#         # get rid of urls
#         i = re.sub('https?://\S+|www\.\S+', '', i)
#         # get rid of non words and extra spaces
#         i = re.sub('\\W', ' ', i)
#         i = re.sub('\n', '', i)
#         i = re.sub(' +', ' ', i)
#         i = re.sub('^ ', '', i)
#         i = re.sub(' $', '', i)
#         i = i.lower()
#         normalized.append(i)
#     return normalized

# import re

import re

def preprocess_text(text):
    # Remove URLs
    text = re.sub(r'http\S+', '', text)
    text = re.sub(r'www\S+', '', text)
    # Remove punctuations
    text = re.sub(r'[^\w\s]', '', text)
    # Remove extra whitespaces
    text = re.sub(r'\s+', ' ', text)
    # Convert to lowercase
    text = text.lower()
    return text

In [13]:
df2['Resume']

0       b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1       b'Name Surname\nAddress\nMobile No/Email\nPERS...
2       b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3       b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4       b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...
                              ...
1214    b"Free Flight Attendant Resume\nDarlene Flint\...
1215    b'Corporate Flight Attendant Resume\nCAITLIN F...
1216    b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,...
1217    b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...
1218    b'Entry Level Resume Guide\n\nThis packet is i...
Name: Resume, Length: 1219, dtype: object

In [14]:
df2

        ID  Category                                             Resume
0        1        HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1        2        HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...
2        3        HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3        4        HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4        5        HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...
...    ...       ...                                                ...
1214  1215  Aviation  b"Free Flight Attendant Resume\nDarlene Flint\...
1215  1216  Aviation  b'Corporate Flight Attendant Resume\nCAITLIN F...
1216  1217  Aviation  b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,...
1217  1218  Aviation  b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...
1218  1219  Aviation  b'Entry Level Resume Guide\n\nThis packet is i...

[1219 rows x 3 columns]

In [15]:
df2['normalized_text'] = df2['Resume'].apply(preprocess_text)

In [16]:
df2['normalized_text']

0       bjohn h smith phrn8009915187 po box 1673 calla...
1       bname surnamenaddressnmobile noemailnpersonal ...
2       banthony brownnhr assistantnareas of expertise...
3       b idncareer objectivento pursue a growth orien...
4       bhuman resources directornxefx82xb7expert in o...
                              ...
1214    bfree flight attendant resumendarlene flintn80...
1215    bcorporate flight attendant resumencaitlin fla...
1216    bmajor conrad a preedomn2354 fairchild dr suit...
1217    bstacy samplenn702 8000000 cellnn0000emailcomn...
1218    bentry level resume guidennthis packet is inte...
Name: normalized_text, Length: 1219, dtype: object

In [17]:
df2

,ID,Category,Resume,normalized_text
0,1,HR,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...",bjohn h smith phrn8009915187 po box 1673 calla...
1,2,HR,b'Name Surname\nAddress\nMobile No/Email\nPERS...,bname surnamenaddressnmobile noemailnpersonal ...
2,3,HR,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...,banthony brownnhr assistantnareas of expertise...
3,4,HR,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...,b idncareer objectivento pursue a growth orien...
4,5,HR,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...",bhuman resources directornxefx82xb7expert in o...
...,...,...,...,...
1214,1215,Aviation,"b""Free Flight Attendant Resume\nDarlene Flint\...",bfree flight attendant resumendarlene flintn80...
1215,1216,Aviation,b'Corporate Flight Attendant Resume\nCAITLIN F...,bcorporate flight attendant resumencaitlin fla...
1216,1217,Aviation,"b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,...",bmajor conrad a preedomn2354 fairchild dr suit...
1217,1218,Aviation,b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...,bstacy samplenn702 8000000 cellnn0000emailcomn...
1218,1219,Aviation,b'Entry Level Resume Guide\n\nThis packet is i...,bentry level resume guidennthis packet is inte...

In [18]:
length = df['Resume'].shape
length

(1219,)

In [19]:
#eval_res = Resumes
j=0
i=0
l=[]
for i in range(length[0]):
    try:
        df2['Resume'][i] = eval(df2['Resume'][i]).decode()
    except:
        l.append(i)
        pass

<ipython-input-19-391ffd89cddb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Resume'][i] = eval(df2['Resume'][i]).decode()

In [20]:
l

[34, 347, 489, 501, 742, 900, 915]

In [21]:
df2["res_new"] = df['Resume']
df2 = df2.drop(l,axis=0)
#print(df[30:40])
df3 = df2.reset_index(drop = True)

In [22]:
df3

,ID,Category,Resume,normalized_text,res_new
0,1,HR,"John H. Smith, P.H.R.\n800-991-5187 | PO Box 1...",bjohn h smith phrn8009915187 po box 1673 calla...,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box..."
1,2,HR,Name Surname\nAddress\nMobile No/Email\nPERSON...,bname surnamenaddressnmobile noemailnpersonal ...,b'Name Surname\nAddress\nMobile No/Email\nPERS...
2,3,HR,Anthony Brown\nHR Assistant\nAREAS OF EXPERTIS...,banthony brownnhr assistantnareas of expertise...,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3,4,HR,www.downloadmela.com\nSatheesh\nEMAIL ID:\nCar...,b idncareer objectivento pursue a growth orien...,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4,5,HR,HUMAN RESOURCES DIRECTOR\nExpert in organizat...,bhuman resources directornxefx82xb7expert in o...,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert..."
...,...,...,...,...,...
1207,1215,Aviation,Free Flight Attendant Resume\nDarlene Flint\n8...,bfree flight attendant resumendarlene flintn80...,"b""Free Flight Attendant Resume\nDarlene Flint\..."
1208,1216,Aviation,Corporate Flight Attendant Resume\nCAITLIN FLA...,bcorporate flight attendant resumencaitlin fla...,b'Corporate Flight Attendant Resume\nCAITLIN F...
1209,1217,Aviation,"MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr., S...",bmajor conrad a preedomn2354 fairchild dr suit...,"b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,..."
1210,1218,Aviation,STACY SAMPLE\n\n702 800-0000 cell\n\n0000@emai...,bstacy samplenn702 8000000 cellnn0000emailcomn...,b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...
1211,1219,Aviation,Entry Level Resume Guide\n\nThis packet is int...,bentry level resume guidennthis packet is inte...,b'Entry Level Resume Guide\n\nThis packet is i...

In [23]:
df3['normalized_text'] = df3['Resume'].apply(preprocess_text)

In [24]:
df3

,ID,Category,Resume,normalized_text,res_new
0,1,HR,"John H. Smith, P.H.R.\n800-991-5187 | PO Box 1...",john h smith phr 8009915187 po box 1673 callah...,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box..."
1,2,HR,Name Surname\nAddress\nMobile No/Email\nPERSON...,name surname address mobile noemail personal p...,b'Name Surname\nAddress\nMobile No/Email\nPERS...
2,3,HR,Anthony Brown\nHR Assistant\nAREAS OF EXPERTIS...,anthony brown hr assistant areas of expertise ...,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3,4,HR,www.downloadmela.com\nSatheesh\nEMAIL ID:\nCar...,satheesh email id career objective to pursue ...,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4,5,HR,HUMAN RESOURCES DIRECTOR\nExpert in organizat...,human resources director expert in organizatio...,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert..."
...,...,...,...,...,...
1207,1215,Aviation,Free Flight Attendant Resume\nDarlene Flint\n8...,free flight attendant resume darlene flint 809...,"b""Free Flight Attendant Resume\nDarlene Flint\..."
1208,1216,Aviation,Corporate Flight Attendant Resume\nCAITLIN FLA...,corporate flight attendant resume caitlin flan...,b'Corporate Flight Attendant Resume\nCAITLIN F...
1209,1217,Aviation,"MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr., S...",major conrad a preedom 2354 fairchild dr suite...,"b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,..."
1210,1218,Aviation,STACY SAMPLE\n\n702 800-0000 cell\n\n0000@emai...,stacy sample 702 8000000 cell 0000emailcom qua...,b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...
1211,1219,Aviation,Entry Level Resume Guide\n\nThis packet is int...,entry level resume guide this packet is intend...,b'Entry Level Resume Guide\n\nThis packet is i...

In [25]:
df3

,ID,Category,Resume,normalized_text,res_new
0,1,HR,"John H. Smith, P.H.R.\n800-991-5187 | PO Box 1...",john h smith phr 8009915187 po box 1673 callah...,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box..."
1,2,HR,Name Surname\nAddress\nMobile No/Email\nPERSON...,name surname address mobile noemail personal p...,b'Name Surname\nAddress\nMobile No/Email\nPERS...
2,3,HR,Anthony Brown\nHR Assistant\nAREAS OF EXPERTIS...,anthony brown hr assistant areas of expertise ...,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3,4,HR,www.downloadmela.com\nSatheesh\nEMAIL ID:\nCar...,satheesh email id career objective to pursue ...,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4,5,HR,HUMAN RESOURCES DIRECTOR\nExpert in organizat...,human resources director expert in organizatio...,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert..."
...,...,...,...,...,...
1207,1215,Aviation,Free Flight Attendant Resume\nDarlene Flint\n8...,free flight attendant resume darlene flint 809...,"b""Free Flight Attendant Resume\nDarlene Flint\..."
1208,1216,Aviation,Corporate Flight Attendant Resume\nCAITLIN FLA...,corporate flight attendant resume caitlin flan...,b'Corporate Flight Attendant Resume\nCAITLIN F...
1209,1217,Aviation,"MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr., S...",major conrad a preedom 2354 fairchild dr suite...,"b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,..."
1210,1218,Aviation,STACY SAMPLE\n\n702 800-0000 cell\n\n0000@emai...,stacy sample 702 8000000 cell 0000emailcom qua...,b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...
1211,1219,Aviation,Entry Level Resume Guide\n\nThis packet is int...,entry level resume guide this packet is intend...,b'Entry Level Resume Guide\n\nThis packet is i...

In [26]:
# texts = 

# # Step 1: Convert text to lowercase
# # texts = texts.lower()

# # Step 2: Split text into words
# words = texts.split()

# # Step 3: Create dictionary to store word frequency counts
# word_freq = {}

# # Step 4: Loop through words and update dictionary
# for word in words:
#     if word in word_freq:
#         word_freq[word] += 1
#     else:
#         word_freq[word] = 1

# # Print the word frequency counts
# for word, count in word_freq.items():
#     print(f"{word}: {count}")

In [ ]:
df4 = df3[['Category', 'normalized_text']]
df4

In [28]:
# initialize a LabelEncoder object
label_encoder = LabelEncoder()

# encode the categorical labels as numerical values
df4['Label'] = label_encoder.fit_transform(df4['Category'])

<ipython-input-28-ca7d075163ca>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Label'] = label_encoder.fit_transform(df4['Category'])

In [29]:
df4

      Category                                    normalized_text  Label
0           HR  john h smith phr 8009915187 po box 1673 callah...     19
1           HR  name surname address mobile noemail personal p...     19
2           HR  anthony brown hr assistant areas of expertise ...     19
3           HR   satheesh email id career objective to pursue ...     19
4           HR  human resources director expert in organizatio...     19
...        ...                                                ...    ...
1207  Aviation  free flight attendant resume darlene flint 809...      7
1208  Aviation  corporate flight attendant resume caitlin flan...      7
1209  Aviation  major conrad a preedom 2354 fairchild dr suite...      7
1210  Aviation  stacy sample 702 8000000 cell 0000emailcom qua...      7
1211  Aviation  entry level resume guide this packet is intend...      7

[1212 rows x 3 columns]

In [30]:
df4.sort_values(by='Label', inplace=True)

<ipython-input-30-f6b65e4cd1cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.sort_values(by='Label', inplace=True)

In [37]:
print(f"{df4} DataFrame with {df4['Label']} \nhas {df4['Label'].unique()} values")

        Category                                    normalized_text  Label
1000  Accountant  core competencies administrative tasks data an...      0
1037  Accountant  chartered accountant internship resume craig m...      0
1038  Accountant  bank accountant resume bank accountant resume ...      0
1039  Accountant  gary white account manager areas of expertise ...      0
1040  Accountant  professional tax accountant resume john doe 1c...      0
...          ...                                                ...    ...
625        Sales                                                        24
626        Sales  g e o r g e h e r n a nd e z home 617 3622121 ...     24
627        Sales  pharmaceutical sales representative awardwinni...     24
659        Sales  sales clerk resume template joye thompson 1234...     24
605        Sales  george redmond 10 sanford drive andover me 042...     24

[1212 rows x 3 columns] DataFrame with 1000     0
1037     0
1038     0
1039     0
1040     0
        ..
625     24
626     24
627     24
659     24
605     24
Name: Label, Length: 1212, dtype: int64
has [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24] values

In [ ]:
train_df = df4['normalized_text'].tolist()
train_df

In [39]:
### PARAMETERS ### 

vocab_size = 10000
embed_dim = 64
max_length = 120
trunc_type = 'pre'
oov_tok = "<OOV>"

In [40]:
token = Tokenizer(num_words=vocab_size, oov_token=oov_tok)
token.fit_on_texts(df4['normalized_text'].values)

word_idx = token.word_index

In [41]:
train_seq = token.texts_to_sequences(df4['normalized_text'].values)
train_padded = pad_sequences(train_seq, maxlen=max_length, truncating=trunc_type)

# test_seq = token.texts_to_sequences(test_df['text'].values)
# test_padded = pad_sequences(test_seq, maxlen=max_length)

In [66]:
train_padded

array([[2462,  355,  181, ...,   71,    2,  169],
       [ 225, 1660,   34, ...,  225,   63, 1510],
       [ 159,    7, 2195, ...,  494,  509,    1],
       ...,
       [  18, 5182, 4294, ..., 1878,   32,  147],
       [   3,  367,    2, ...,    4, 2503, 8285],
       [  58, 3968,    2, ...,   87,    1,  530]], dtype=int32)

In [68]:
model = Sequential([
    layers.Embedding(vocab_size, embed_dim, input_length=max_length),
    layers.Conv1D(128, 8, activation='relu'),
    layers.GlobalMaxPooling1D(),
    
    layers.Dense(48, activation='relu'),
    layers.Dense(25, activation='softmax'),
])

model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, 120, 64)           640000

 conv1d_4 (Conv1D)           (None, 113, 128)          65664

 global_max_pooling1d_4 (Glo  (None, 128)              0
 balMaxPooling1D)

 dense_8 (Dense)             (None, 48)                6192

 dense_9 (Dense)             (None, 25)                1225

=================================================================
Total params: 713,081
Trainable params: 713,081
Non-trainable params: 0
_________________________________________________________________

In [69]:
model.output_shape

(None, 25)

In [70]:
# opt = keras.optimizers.SGD(learning_rate=1e-3, weight_decay=1e-2, momentum=0.9)
opt = keras.optimizers.Adam(learning_rate=1e-3)

model.compile(optimizer=opt, loss='categorical_crossentropy', metrics=['accuracy', 'Precision', 'Recall'])

In [71]:
y_train = pd.get_dummies(df4['Category']).values
y_train

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]], dtype=uint8)

In [72]:
df4['Label'].values.shape

(1212,)

In [73]:
history = model.fit(train_padded, y_train, #df4['Label'].values
                   epochs=10, batch_size=32) #test_df['label']. values))

Epoch 1/10
38/38 [==============================] - 4s 48ms/step - loss: 3.1682 - accuracy: 0.0800 - precision: 0.0000e+00 - recall: 0.0000e+00
Epoch 2/10
38/38 [==============================] - 2s 46ms/step - loss: 3.0010 - accuracy: 0.1320 - precision: 0.0000e+00 - recall: 0.0000e+00
Epoch 3/10
38/38 [==============================] - 2s 53ms/step - loss: 2.8440 - accuracy: 0.2327 - precision: 0.0000e+00 - recall: 0.0000e+00
Epoch 4/10
38/38 [==============================] - 3s 73ms/step - loss: 2.6026 - accuracy: 0.3276 - precision: 1.0000 - recall: 0.0083
Epoch 5/10
38/38 [==============================] - 2s 46ms/step - loss: 2.1753 - accuracy: 0.4917 - precision: 0.9500 - recall: 0.0470
Epoch 6/10
38/38 [==============================] - 2s 48ms/step - loss: 1.6382 - accuracy: 0.6419 - precision: 0.9645 - recall: 0.2244
Epoch 7/10
38/38 [==============================] - 2s 46ms/step - loss: 1.1305 - accuracy: 0.8036 - precision: 0.9755 - recall: 0.4266
Epoch 8/10
38/38 [==============================] - 2s 47ms/step - loss: 0.7174 - accuracy: 0.9002 - precision: 0.9653 - recall: 0.5974
Epoch 9/10
38/38 [==============================] - 2s 47ms/step - loss: 0.4477 - accuracy: 0.9348 - precision: 0.9667 - recall: 0.8144
Epoch 10/10
38/38 [==============================] - 3s 68ms/step - loss: 0.3062 - accuracy: 0.9406 - precision: 0.9586 - recall: 0.8977

# Predicting

In [74]:
! pip install pdfminer.six==20181108

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pdfminer.six==20181108
  Downloading pdfminer.six-20181108-py2.py3-none-any.whl (5.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 45.1 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from pdfminer.six==20181108) (1.16.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.9/dist-packages (from pdfminer.six==20181108) (2.4.0)
Collecting pycryptodome
  Downloading pycryptodome-3.17-cp35-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 55.1 MB/s eta 0:00:00
Installing collected packages: pycryptodome, pdfminer.six
Successfully installed pdfminer.six-20181108 pycryptodome-3.17

In [75]:
from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from pdfminer.pdfpage import PDFPage
from io import StringIO

def convertPDFtoText(path):
    rsrcmgr = PDFResourceManager()
    retstr = StringIO()
    codec = 'utf-8'
    laparams = LAParams()
    device = TextConverter(rsrcmgr, retstr, codec=codec, laparams=laparams)
    fp = open(path, 'rb')
    interpreter = PDFPageInterpreter(rsrcmgr, device)
    password = ""
    maxpages = 0
    caching = True
    pagenos=set()
    for page in PDFPage.get_pages(fp, pagenos, maxpages=maxpages, password=password,caching=caching, check_extractable=True):
        interpreter.process_page(page)
    fp.close()
    device.close()
    string = retstr.getvalue()
    retstr.close()
    return string

In [76]:
test_resume = convertPDFtoText('/content/sample_input.pdf')
print(test_resume)

Dushyant Bhatt

BI / Big Data/ Azure

Hyderabad-Deccan, Telangana, Telangana - Email me on Indeed: indeed.com/r/Dushyant-
Bhatt/140749dace5dc26f

• 10+ years of Experience in Designing, Development, Administration, Analysis, Management in
the Business Intelligence Data warehousing, Client Server Technologies, Web-based Applications,
cloud solutions and Databases.
• Data warehouse: Data analysis, star/ snow flake schema data modeling and design specific to
data warehousing and business intelligence environment.
• Database: Experience in database designing, scalability, back-up and recovery, writing and
optimizing SQL code and Stored Procedures, creating functions, views, triggers and indexes.
• Cloud platform: Worked on Microsoft Azure cloud services like Document DB, SQL Azure, Stream
Analytics, Event hub, Power BI, Web Job, Web App, Power BI, Azure data lake analytics(U-SQL).
• Big Data: Worked Azure data lake store/analytics for big data processing and Azure data factory
to schedule U-SQL jobs. Designed and developed end to end big data solution for data insights.
• BI:
o  ETL:  Designed  and  developed  ETL  solution  in  SSIS.  Experience  in  Logging,  Error  handling,
configuration, deployment, troubleshooting and performance tuning of SSIS Packages.
o Reporting: Experience in all the Latest Reporting Tools like Tableau Data visualization, Power
BI  and  SSRS  2012.  Act  as  a  Point  of  Contact  in  Data  Interoperability,  Analytics  and  BI  and
Production Support issue resolution. Experience in Developing Performance Dashboards, Score
cards, Metrics, what if analysis, Prompts, Drills. Reports/Dashboards for all the functional areas
including Finance, Pricing, Purchasing and Sales/Marketing.

Willing to relocate: Anywhere

WORK EXPERIENCE

Software Engineer

Microsoft  -  hyderbad, Telangana -

December 2015 to Present

1. Microsoft Rewards Live dashboards:
Description: - Microsoft rewards is loyalty program that rewards Users for browsing and shopping
online. Microsoft Rewards members can earn points when searching with Bing, browsing with
Microsoft Edge and making purchases at the Xbox Store, the Windows Store and the Microsoft
Store. Plus, user can pick up bonus points for taking daily quizzes and tours on the Microsoft
rewards  website.  Rewards  live  dashboards  gives  a  live  picture  of  usage  world-wide  and  by
markets like US, Canada, Australia, new user registration count, top/bottom performing rewards
offers, orders stats and weekly trends of user activities, orders and new user registrations. the
PBI tiles gets refreshed in different frequencies starting from 5 seconds to 30 minutes.
Technology/Tools used
• Event hub, stream analytics and Power BI.
Responsibilities
• Created stream analytics jobs to process event hub data

• Created Power BI live dashboard to show live usage traffic, weekly trends, cards, charts to show
top/bottom 10 offers and usage metrics.

2. Microsoft Rewards Data Insights:
Description: - Microsoft rewards is loyalty program that rewards Users for browsing and shopping
online. Microsoft Rewards members can earn points when searching with Bing, browsing with
Microsoft Edge and making purchases at the Xbox Store, the Windows Store and the Microsoft
Store. Plus, user can pick up bonus points for taking daily quizzes and tours on the Microsoft
rewards website. Rewards data insights is data analytics and reporting platform, processes 20
million users daily activities and redemption across different markets like US, Canada, Australia.
Technology/Tools used
• Cosmos (Microsoft big-data platform), c#, X-flow job monitoring, Power BI.
Responsibilities
• Created big data scripts in cosmos
• C# data extractors, processors and reducers for data transformation
• Power BI dashboards

3. End to end tracking Tool:
Description: - This is real-time Tracking tool to track different business transactions like order,
order response, functional acknowledgement, invoice flowing inside ICOE. It gives flexibility to
customers to track their transactions and appropriate error information in-case of any failure.
Based on resource based access control the tool gives flexibility to end user to perform different
actions like view transactions, search based on different filter criteria and view and download
actual message payload. End to end tracking tool stitches all the business transaction like order
to cash flow and connects different hops inside ICOE like gateway, routing server, Processing
server. It also connects different systems like ICOE, partner end point and SAP.
Technology/Tools used
• Azure Document db, Azure web job and Web APP, RBAC, Angular JS.
Responsibilities
• Document dB stored procedures.
• Web job to process event hub data and populate Document db
• Web App API.
• Stream analytics job to transform data
• Power BI reports

4. Biztrack Tracking Tool:
Description: - This is real-time Tracking tool to track different business transactions like order,
order response, functional acknowledgement, invoice flowing inside ICOE. It gives flexibility to
customers to track their transactions and appropriate error information in-case of any failure.
Based on resource based access control the tool gives flexibility to end user to perform different
actions like view transactions, search based on different filter criteria and view and download
actual message payload.
Technology/Tools used
• SQL server 2014, SSIS, .net API, Angular JS.
Responsibilities
• ETL solution to transform business transactions data stored in Biztalk tables.
• SQL azure tables, stored procedures, User defined functions.
• Performance tuning.
• Web API enhancements.

EDUCATION

Saurashtra University  -  Morbi, Gujarat

2007

SKILLS

problem solving (Less than 1 year), project lifecycle (Less than 1 year), project manager (Less
than 1 year), technical assistance. (Less than 1 year)

ADDITIONAL INFORMATION

Professional Skills
• Excellent analytical, problem solving, communication, knowledge transfer and interpersonal
skills with ability to interact with individuals at all the levels
• Quick learner and maintains cordial relationship with project manager and team members and
good performer both in team and independent job environments
• Positive attitude towards superiors &amp; peers
• Supervised junior developers throughout project lifecycle and provided technical assistance.

In [77]:
from nltk.probability import FreqDist
from string import punctuation
import math
def summarize(doc,words):
    score={}
    fd = FreqDist(words)
    for i,t in enumerate(doc):
        score[i] = 0
        for j in nltk.word_tokenize(t):
            if j in fd:
                score[i]+=fd[j]
    
    r = sorted(list(score.items()),key=lambda x:x[1],reverse=True)[:math.floor(0.60*len(doc))]
    r.sort(key=lambda x:x[0])
    l = [doc[i[0]] for i in r]
    return "\n\n".join(l)

In [78]:
def preprocess(eval_res):
    try:
        eval_res = eval(eval_res).decode()
    except:
        pass
    eval_res = eval_res.encode("ASCII","ignore").decode()
    length = len(eval_res)
    eval_res = " ".join(eval_res.split("\n"))
    token = rem_sw(nltk.word_tokenize(eval_res)) #Removing punctaution later since we need punctaution for sentence tokenization
    eval_res = " ".join(token).lower()
    return eval_res

In [79]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [80]:
resume = preprocess(test_resume)#remove stop words etc
sent = nltk.sent_tokenize(test_resume)
puncu = punctuation
word_token = nltk.word_tokenize(test_resume)#tokenize preprocessed text for scoring

print(summarize(sent,test_resume))

Dushyant Bhatt

BI / Big Data/ Azure

Hyderabad-Deccan, Telangana, Telangana - Email me on Indeed: indeed.com/r/Dushyant-
Bhatt/140749dace5dc26f

• 10+ years of Experience in Designing, Development, Administration, Analysis, Management in
the Business Intelligence Data warehousing, Client Server Technologies, Web-based Applications,
cloud solutions and Databases.

• Data warehouse: Data analysis, star/ snow flake schema data modeling and design specific to
data warehousing and business intelligence environment.

• Database: Experience in database designing, scalability, back-up and recovery, writing and
optimizing SQL code and Stored Procedures, creating functions, views, triggers and indexes.

• Cloud platform: Worked on Microsoft Azure cloud services like Document DB, SQL Azure, Stream
Analytics, Event hub, Power BI, Web Job, Web App, Power BI, Azure data lake analytics(U-SQL).

• BI:
o  ETL:  Designed  and  developed  ETL  solution  in  SSIS.

Experience  in  Logging,  Error  handling,
configuration, deployment, troubleshooting and performance tuning of SSIS Packages.

o Reporting: Experience in all the Latest Reporting Tools like Tableau Data visualization, Power
BI  and  SSRS  2012.

Act  as  a  Point  of  Contact  in  Data  Interoperability,  Analytics  and  BI  and
Production Support issue resolution.

Experience in Developing Performance Dashboards, Score
cards, Metrics, what if analysis, Prompts, Drills.

Reports/Dashboards for all the functional areas
including Finance, Pricing, Purchasing and Sales/Marketing.

Willing to relocate: Anywhere

WORK EXPERIENCE

Software Engineer

Microsoft  -  hyderbad, Telangana -

December 2015 to Present

1.

Microsoft Rewards members can earn points when searching with Bing, browsing with
Microsoft Edge and making purchases at the Xbox Store, the Windows Store and the Microsoft
Store.

Rewards  live  dashboards  gives  a  live  picture  of  usage  world-wide  and  by
markets like US, Canada, Australia, new user registration count, top/bottom performing rewards
offers, orders stats and weekly trends of user activities, orders and new user registrations.

Technology/Tools used
• Event hub, stream analytics and Power BI.

Responsibilities
• Created stream analytics jobs to process event hub data

• Created Power BI live dashboard to show live usage traffic, weekly trends, cards, charts to show
top/bottom 10 offers and usage metrics.

Microsoft Rewards members can earn points when searching with Bing, browsing with
Microsoft Edge and making purchases at the Xbox Store, the Windows Store and the Microsoft
Store.

Rewards data insights is data analytics and reporting platform, processes 20
million users daily activities and redemption across different markets like US, Canada, Australia.

Technology/Tools used
• Cosmos (Microsoft big-data platform), c#, X-flow job monitoring, Power BI.

Responsibilities
• Created big data scripts in cosmos
• C# data extractors, processors and reducers for data transformation
• Power BI dashboards

3.

End to end tracking Tool:
Description: - This is real-time Tracking tool to track different business transactions like order,
order response, functional acknowledgement, invoice flowing inside ICOE.

End to end tracking tool stitches all the business transaction like order
to cash flow and connects different hops inside ICOE like gateway, routing server, Processing
server.

Technology/Tools used
• Azure Document db, Azure web job and Web APP, RBAC, Angular JS.

Biztrack Tracking Tool:
Description: - This is real-time Tracking tool to track different business transactions like order,
order response, functional acknowledgement, invoice flowing inside ICOE.

Technology/Tools used
• SQL server 2014, SSIS, .net API, Angular JS.

• SQL azure tables, stored procedures, User defined functions.

EDUCATION

Saurashtra University  -  Morbi, Gujarat

2007

SKILLS

problem solving (Less than 1 year), project lifecycle (Less than 1 year), project manager (Less
than 1 year), technical assistance.

(Less than 1 year)

ADDITIONAL INFORMATION

Professional Skills
• Excellent analytical, problem solving, communication, knowledge transfer and interpersonal
skills with ability to interact with individuals at all the levels
• Quick learner and maintains cordial relationship with project manager and team members and
good performer both in team and independent job environments
• Positive attitude towards superiors &amp; peers
• Supervised junior developers throughout project lifecycle and provided technical assistance.

In [81]:
word_token

['Dushyant',
 'Bhatt',
 'BI',
 '/',
 'Big',
 'Data/',
 'Azure',
 'Hyderabad-Deccan',
 ',',
 'Telangana',
 ',',
 'Telangana',
 '-',
 'Email',
 'me',
 'on',
 'Indeed',
 ':',
 'indeed.com/r/Dushyant-',
 'Bhatt/140749dace5dc26f',
 '•',
 '10+',
 'years',
 'of',
 'Experience',
 'in',
 'Designing',
 ',',
 'Development',
 ',',
 'Administration',
 ',',
 'Analysis',
 ',',
 'Management',
 'in',
 'the',
 'Business',
 'Intelligence',
 'Data',
 'warehousing',
 ',',
 'Client',
 'Server',
 'Technologies',
 ',',
 'Web-based',
 'Applications',
 ',',
 'cloud',
 'solutions',
 'and',
 'Databases',
 '.',
 '•',
 'Data',
 'warehouse',
 ':',
 'Data',
 'analysis',
 ',',
 'star/',
 'snow',
 'flake',
 'schema',
 'data',
 'modeling',
 'and',
 'design',
 'specific',
 'to',
 'data',
 'warehousing',
 'and',
 'business',
 'intelligence',
 'environment',
 '.',
 '•',
 'Database',
 ':',
 'Experience',
 'in',
 'database',
 'designing',
 ',',
 'scalability',
 ',',
 'back-up',
 'and',
 'recovery',
 ',',
 'writing',
 'and',
 'optimizing',
 'SQL',
 'code',
 'and',
 'Stored',
 'Procedures',
 ',',
 'creating',
 'functions',
 ',',
 'views',
 ',',
 'triggers',
 'and',
 'indexes',
 '.',
 '•',
 'Cloud',
 'platform',
 ':',
 'Worked',
 'on',
 'Microsoft',
 'Azure',
 'cloud',
 'services',
 'like',
 'Document',
 'DB',
 ',',
 'SQL',
 'Azure',
 ',',
 'Stream',
 'Analytics',
 ',',
 'Event',
 'hub',
 ',',
 'Power',
 'BI',
 ',',
 'Web',
 'Job',
 ',',
 'Web',
 'App',
 ',',
 'Power',
 'BI',
 ',',
 'Azure',
 'data',
 'lake',
 'analytics',
 '(',
 'U-SQL',
 ')',
 '.',
 '•',
 'Big',
 'Data',
 ':',
 'Worked',
 'Azure',
 'data',
 'lake',
 'store/analytics',
 'for',
 'big',
 'data',
 'processing',
 'and',
 'Azure',
 'data',
 'factory',
 'to',
 'schedule',
 'U-SQL',
 'jobs',
 '.',
 'Designed',
 'and',
 'developed',
 'end',
 'to',
 'end',
 'big',
 'data',
 'solution',
 'for',
 'data',
 'insights',
 '.',
 '•',
 'BI',
 ':',
 'o',
 'ETL',
 ':',
 'Designed',
 'and',
 'developed',
 'ETL',
 'solution',
 'in',
 'SSIS',
 '.',
 'Experience',
 'in',
 'Logging',
 ',',
 'Error',
 'handling',
 ',',
 'configuration',
 ',',
 'deployment',
 ',',
 'troubleshooting',
 'and',
 'performance',
 'tuning',
 'of',
 'SSIS',
 'Packages',
 '.',
 'o',
 'Reporting',
 ':',
 'Experience',
 'in',
 'all',
 'the',
 'Latest',
 'Reporting',
 'Tools',
 'like',
 'Tableau',
 'Data',
 'visualization',
 ',',
 'Power',
 'BI',
 'and',
 'SSRS',
 '2012',
 '.',
 'Act',
 'as',
 'a',
 'Point',
 'of',
 'Contact',
 'in',
 'Data',
 'Interoperability',
 ',',
 'Analytics',
 'and',
 'BI',
 'and',
 'Production',
 'Support',
 'issue',
 'resolution',
 '.',
 'Experience',
 'in',
 'Developing',
 'Performance',
 'Dashboards',
 ',',
 'Score',
 'cards',
 ',',
 'Metrics',
 ',',
 'what',
 'if',
 'analysis',
 ',',
 'Prompts',
 ',',
 'Drills',
 '.',
 'Reports/Dashboards',
 'for',
 'all',
 'the',
 'functional',
 'areas',
 'including',
 'Finance',
 ',',
 'Pricing',
 ',',
 'Purchasing',
 'and',
 'Sales/Marketing',
 '.',
 'Willing',
 'to',
 'relocate',
 ':',
 'Anywhere',
 'WORK',
 'EXPERIENCE',
 'Software',
 'Engineer',
 'Microsoft',
 '-',
 'hyderbad',
 ',',
 'Telangana',
 '-',
 'December',
 '2015',
 'to',
 'Present',
 '1',
 '.',
 'Microsoft',
 'Rewards',
 'Live',
 'dashboards',
 ':',
 'Description',
 ':',
 '-',
 'Microsoft',
 'rewards',
 'is',
 'loyalty',
 'program',
 'that',
 'rewards',
 'Users',
 'for',
 'browsing',
 'and',
 'shopping',
 'online',
 '.',
 'Microsoft',
 'Rewards',
 'members',
 'can',
 'earn',
 'points',
 'when',
 'searching',
 'with',
 'Bing',
 ',',
 'browsing',
 'with',
 'Microsoft',
 'Edge',
 'and',
 'making',
 'purchases',
 'at',
 'the',
 'Xbox',
 'Store',
 ',',
 'the',
 'Windows',
 'Store',
 'and',
 'the',
 'Microsoft',
 'Store',
 '.',
 'Plus',
 ',',
 'user',
 'can',
 'pick',
 'up',
 'bonus',
 'points',
 'for',
 'taking',
 'daily',
 'quizzes',
 'and',
 'tours',
 'on',
 'the',
 'Microsoft',
 'rewards',
 'website',
 '.',
 'Rewards',
 'live',
 'dashboards',
 'gives',
 'a',
 'live',
 'picture',
 'of',
 'usage',
 'world-wide',
 'and',
 'by',
 'markets',
 'like',
 'US',
 ',',
 'Canada',
 ',',
 'Australia',
 ',',
 'new',
 'user',
 'registration',
 'count',
 ',',
 'top/bottom',
 'performing',
 'rewards',
 'offers',
 ',',
 'orders',
 'stats',
 'and',
 'weekly',
 'trends',
 'of',
 'user',
 'activities',
 ',',
 'orders',
 'and',
 'new',
 'user',
 'registrations',
 '.',
 'the',
 'PBI',
 'tiles',
 'gets',
 'refreshed',
 'in',
 'different',
 'frequencies',
 'starting',
 'from',
 '5',
 'seconds',
 'to',
 '30',
 'minutes',
 '.',
 'Technology/Tools',
 'used',
 '•',
 'Event',
 'hub',
 ',',
 'stream',
 'analytics',
 'and',
 'Power',
 'BI',
 '.',
 'Responsibilities',
 '•',
 'Created',
 'stream',
 'analytics',
 'jobs',
 'to',
 'process',
 'event',
 'hub',
 'data',
 '•',
 'Created',
 'Power',
 'BI',
 'live',
 'dashboard',
 'to',
 'show',
 'live',
 'usage',
 'traffic',
 ',',
 'weekly',
 'trends',
 ',',
 'cards',
 ',',
 'charts',
 'to',
 'show',
 'top/bottom',
 '10',
 'offers',
 'and',
 'usage',
 'metrics',
 '.',
 '2',
 '.',
 'Microsoft',
 'Rewards',
 'Data',
 'Insights',
 ':',
 'Description',
 ':',
 '-',
 'Microsoft',
 'rewards',
 'is',
 'loyalty',
 'program',
 'that',
 'rewards',
 'Users',
 'for',
 'browsing',
 'and',
 'shopping',
 'online',
 '.',
 'Microsoft',
 'Rewards',
 'members',
 'can',
 'earn',
 'points',
 'when',
 'searching',
 'with',
 'Bing',
 ',',
 'browsing',
 'with',
 'Microsoft',
 'Edge',
 'and',
 'making',
 'purchases',
 'at',
 'the',
 'Xbox',
 'Store',
 ',',
 'the',
 'Windows',
 'Store',
 'and',
 'the',
 'Microsoft',
 'Store',
 '.',
 'Plus',
 ',',
 'user',
 'can',
 'pick',
 'up',
 'bonus',
 'points',
 'for',
 'taking',
 'daily',
 'quizzes',
 'and',
 'tours',
 'on',
 'the',
 'Microsoft',
 'rewards',
 'website',
 '.',
 'Rewards',
 'data',
 'insights',
 'is',
 'data',
 'analytics',
 'and',
 'reporting',
 'platform',
 ',',
 'processes',
 '20',
 'million',
 'users',
 'daily',
 'activities',
 'and',
 'redemption',
 'across',
 'different',
 'markets',
 'like',
 'US',
 ',',
 'Canada',
 ',',
 'Australia',
 '.',
 'Technology/Tools',
 'used',
 '•',
 'Cosmos',
 '(',
 'Microsoft',
 'big-data',
 'platform',
 ')',
 ',',
 'c',
 '#',
 ',',
 'X-flow',
 'job',
 'monitoring',
 ',',
 'Power',
 'BI',
 '.',
 'Responsibilities',
 '•',
 'Created',
 'big',
 'data',
 'scripts',
 'in',
 'cosmos',
 '•',
 'C',
 '#',
 'data',
 'extractors',
 ',',
 'processors',
 'and',
 'reducers',
 'for',
 'data',
 'transformation',
 '•',
 'Power',
 'BI',
 'dashboards',
 '3',
 '.',
 'End',
 'to',
 'end',
 'tracking',
 'Tool',
 ':',
 'Description',
 ':',
 '-',
 'This',
 'is',
 'real-time',
 'Tracking',
 'tool',
 'to',
 'track',
 'different',
 'business',
 'transactions',
 'like',
 'order',
 ',',
 'order',
 'response',
 ',',
 'functional',
 'acknowledgement',
 ',',
 'invoice',
 'flowing',
 'inside',
 'ICOE',
 '.',
 'It',
 'gives',
 'flexibility',
 'to',
 'customers',
 'to',
 'track',
 'their',
 'transactions',
 'and',
 'appropriate',
 'error',
 'information',
 'in-case',
 'of',
 'any',
 'failure',
 '.',
 'Based',
 'on',
 'resource',
 'based',
 'access',
 'control',
 'the',
 'tool',
 'gives',
 'flexibility',
 'to',
 'end',
 'user',
 'to',
 'perform',
 'different',
 'actions',
 'like',
 'view',
 'transactions',
 ',',
 'search',
 'based',
 'on',
 'different',
 'filter',
 'criteria',
 'and',
 'view',
 'and',
 'download',
 'actual',
 'message',
 'payload',
 '.',
 'End',
 'to',
 'end',
 'tracking',
 'tool',
 'stitches',
 'all',
 'the',
 'business',
 'transaction',
 'like',
 'order',
 'to',
 'cash',
 'flow',
 'and',
 'connects',
 'different',
 'hops',
 'inside',
 'ICOE',
 'like',
 'gateway',
 ',',
 'routing',
 'server',
 ',',
 'Processing',
 'server',
 '.',
 'It',
 'also',
 'connects',
 'different',
 'systems',
 'like',
 'ICOE',
 ',',
 'partner',
 'end',
 'point',
 'and',
 'SAP',
 '.',
 'Technology/Tools',
 'used',
 '•',
 'Azure',
 'Document',
 'db',
 ',',
 'Azure',
 'web',
 'job',
 'and',
 'Web',
 'APP',
 ',',
 'RBAC',
 ',',
 'Angular',
 'JS',
 '.',
 'Responsibilities',
 '•',
 'Document',
 'dB',
 'stored',
 'procedures',
 '.',
 '•',
 'Web',
 'job',
 'to',
 'process',
 'event',
 'hub',
 'data',
 'and',
 'populate',
 'Document',
 'db',
 '•',
 'Web',
 'App',
 'API',
 '.',
 '•',
 'Stream',
 'analytics',
 'job',
 'to',
 'transform',
 'data',
 '•',
 'Power',
 'BI',
 'reports',
 '4',
 '.',
 'Biztrack',
 'Tracking',
 'Tool',
 ':',
 'Description',
 ':',
 '-',
 'This',
 'is',
 'real-time',
 'Tracking',
 'tool',
 'to',
 'track',
 'different',
 'business',
 'transactions',
 'like',
 'order',
 ',',
 'order',
 'response',
 ',',
 'functional',
 'acknowledgement',
 ',',
 'invoice',
 'flowing',
 'inside',
 'ICOE',
 '.',
 'It',
 'gives',
 'flexibility',
 'to',
 'customers',
 'to',
 'track',
 'their',
 'transactions',
 'and',
 'appropriate',
 'error',
 'information',
 'in-case',
 'of',
 'any',
 'failure',
 '.',
 'Based',
 'on',
 'resource',
 'based',
 'access',
 'control',
 'the',
 'tool',
 'gives',
 'flexibility',
 'to',
 'end',
 'user',
 'to',
 'perform',
 'different',
 'actions',
 'like',
 'view',
 'transactions',
 ',',
 'search',
 'based',
 'on',
 'different',
 'filter',
 'criteria',
 'and',
 'view',
 'and',
 'download',
 'actual',
 'message',
 'payload',
 '.',
 'Technology/Tools',
 'used',
 '•',
 'SQL',
 'server',
 '2014',
 ',',
 'SSIS',
 ',',
 '.net',
 'API',
 ',',
 'Angular',
 'JS',
 '.',
 'Responsibilities',
 '•',
 'ETL',
 'solution',
 'to',
 'transform',
 'business',
 'transactions',
 'data',
 'stored',
 'in',
 'Biztalk',
 'tables',
 '.',
 '•',
 'SQL',
 'azure',
 'tables',
 ',',
 'stored',
 'procedures',
 ',',
 'User',
 'defined',
 'functions',
 '.',
 '•',
 'Performance',
 'tuning',
 '.',
 '•',
 'Web',
 'API',
 'enhancements',
 '.',
 'EDUCATION',
 'Saurashtra',
 'University',
 '-',
 'Morbi',
 ',',
 'Gujarat',
 '2007',
 'SKILLS',
 'problem',
 'solving',
 '(',
 'Less',
 'than',
 '1',
 'year',
 ')',
 ',',
 'project',
 'lifecycle',
 '(',
 'Less',
 'than',
 '1',
 'year',
 ')',
 ',',
 'project',
 'manager',
 '(',
 'Less',
 ...]

In [82]:
def tok(text):
  token = Tokenizer(num_words=vocab_size, oov_token=oov_tok)
  token.fit_on_texts(text)

  word_idx = token.word_index

  train_seq = token.texts_to_sequences(text)
  train_pad= pad_sequences(train_seq, maxlen=max_length, truncating=trunc_type)

  return train_pad

array([[ 0,  0,  0, ...,  0,  0, 10],
       [ 0,  0,  0, ...,  0,  0, 14],
       [ 0,  0,  0, ...,  0,  0,  4],
       ...,
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0, 34]], dtype=int32)

In [83]:
pred = model.predict(tok(test_resume))

200/200 [==============================] - 2s 11ms/step

In [84]:
predicted = np.argmax(pred, axis=-1)[0]

In [85]:
predicted

16

In [89]:
df4['Label'][16]

19

In [91]:
classes = list(df4['Category'].unique())
print(classes, len(classes))

class_id = {key: value for value, key in enumerate(classes)}
print(class_id)

['Accountant', 'Advocate', 'Agricultural', 'Apparel', 'Architects', 'Arts', 'Automobile', 'Aviation', 'BPO', 'Banking', 'Building & Construction', 'Business Development', 'Consultant', 'Designing', 'Digital Media', 'Education', 'Engineering', 'Finance', 'Food & Beverages', 'HR', 'Health & Fitness', 'Information Technology', 'Managment', 'Public Relations', 'Sales'] 25
{'Accountant': 0, 'Advocate': 1, 'Agricultural': 2, 'Apparel': 3, 'Architects': 4, 'Arts': 5, 'Automobile': 6, 'Aviation': 7, 'BPO': 8, 'Banking': 9, 'Building & Construction': 10, 'Business Development': 11, 'Consultant': 12, 'Designing': 13, 'Digital Media': 14, 'Education': 15, 'Engineering': 16, 'Finance': 17, 'Food & Beverages': 18, 'HR': 19, 'Health & Fitness': 20, 'Information Technology': 21, 'Managment': 22, 'Public Relations': 23, 'Sales': 24}